<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo Cine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Catalogo Cine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/insertar">Agregar</a>
              </li>
          </ul>
          <li class="nav-item active"></li> 
        <a class="nav-link disabled" href="/login">Mi Perfil</a>
        </div>
      </nav>
      <div class='col-md-3 mt-3 card '>
          
        <form action="/modificar/<%= datos[0].ID %>" method="post" class="card-body">
          <h3 class='card-title'>Modificar Contenido</h3>
        <div class="form-group">
            <input type="text" name="Nombre" class="form-control" placeholder="Nombre pelicula"> 
        </div>
        <div class="form-group">
            <input type="text" name="Director" class="form-control" placeholder="Director"> 
        </div>
        <div class="form-group">
            <input type="text" name="Genero" class="form-control" placeholder="Genero"> 
        </div>
        <div class="form-group">
            <input type="text" name="Fecha_estreno" class="form-control" placeholder="Fecha de estreno"> 
        </div>
        <div class="form-group">
            <input type="text" name="Tipo_categoria" class="form-control" placeholder="Categoria(1 para pelicula-2 para serie-3 para documental)"> 
        </div>
        <div class="form-group">
            <input type="text" name="Dir_img" class="form-control" placeholder="Direccion Imagen"> 
        </div>
        <div class="form-group">
          <input type="text" name="Sinopsis" class="form-control" placeholder="Sinopsis"> 
        </div>
        <input type="submit" class="btn btn-primary">
        </form>
    </div>
    
</body>
</html>